<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43226445296-27nafsm1o1s7k3pcd49eh7h9r11qihl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43226445296-27nafsm1o1s7k3pcd49eh7h9r11qihl3</string>
	<key>API_KEY</key>
	<string>AIzaSyCDw_T27z8qljMpMuRWqfMaWTptsFJ-5s4</string>
	<key>GCM_SENDER_ID</key>
	<string>43226445296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jorismarhuenda.WealthWise</string>
	<key>PROJECT_ID</key>
	<string>wealthwise-bbc81</string>
	<key>STORAGE_BUCKET</key>
	<string>wealthwise-bbc81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43226445296:ios:a81f13ea2eb989027d9935</string>
</dict>
</plist>